*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    height: 700px;
    background-image: url(./img/pizza\ background.png);
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;


}

header{
    height: 150px;
    align-items: flex-end;
    display: grid;
    
}

.logo{
    height: 120px;
    display: inline-flex;
}

.Tony{
    padding-top: 34px;
    width: 90px;
    word-break: normal;
    color: #FFFF;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

main{   
    display: grid;
    height: 450px;
    align-items: center;
}

.main{
    height: 180px;
    align-items: end;
    display: grid;
}

.Texto{
    height: 70px;
    width: 230px;
    color: #FFFF;
    font-size: x-large;
    font-size: 30px;
    word-break: normal;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;

}

.subtexto{
    height: 60px;
    width: 320px;
    color: #FFFF;
    font-family: 'Roboto', sans-serif;

}

.quadrado{
    background-color: #FFFF;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;    
}

.Comecar{
    color: orange;
    font-size: medium;
    width: 70px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: #F27706;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    background-color: transparent;

}

.laranja{
    background: linear-gradient(180deg, rgba(252, 121, 0, 0.85) 44.07%, rgba(252, 121, 0, 0.00) 100%);
    width: 360px;
    height: 750px;
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
    margin-left: -5%;
}

.linha1{
    width: 300px;
}

.linha2{
    width: 300px;
    }

.linhaum{
    width: 300px;
    height: 50px;
}

.linhadois{
    width: 300px;
    height: 50px;
}

.emailtxt{
    border: transparent;
    position: absolute;
    background: none;
    width: 250px;
    left: 15%;
    bottom: 46.5%;
    background-color: transparent;

}

::placeholder{
    color: #FFFF;
}

input{
    color: #FFFF;
}

.senhatxt{
    border: transparent;
    background: transparent;
    position: absolute;
    left: 15%;
    bottom: 36%;    
    
}

footer{
    height: 138px;
    display: flex;
    flex-direction: column;

}

.EsqueciSenha{
    display: flex;
    flex-direction: row-reverse;
    width: 330px;
    color: #FFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.criar{
    display: grid;
    align-self: center;
    align-items: end;
    height: 100px;
    width: 200px;
    color: #FFFF;
    

}

.CriarConta{
    display: flex;
    font-size: large;
    align-self: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
